# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare
- eins
- zwei
- drei

# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare
- eins
- zwei
- drei

In [1]:
print("Hello world")

Hello world

# Kommentare

In [2]:
# das ist ein Kommentar
print("Hello world")

Hello world

# einfache Datentypen

In [5]:
#Variablen und Wertzuweisungen (Value-Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [13]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [7]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [8]:
# Boolean = Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [9]:
type(name)

str

In [10]:
print(name)
print(age)

Hawking
73

## Operatoren

In [11]:
5+5

10

In [14]:
age * 100

7300

In [15]:
name + "10"

'Hawking10'

In [16]:
type(size)

float

In [17]:
type(age)

int

In [18]:
size/age

0.023456164383561642

In [23]:
number_of_articles = "50"

In [24]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [25]:
int(number_of_articles) / 10

5.0

In [26]:
zahl = 5
andere_zahl = 6

In [27]:
zahl + andere_zahl

11

In [28]:
# Befehl für jupyter-notebook
%who

age	 andere_zahl	 is_scientist	 name	 number_of_articles	 size	 zahl

In [29]:
zahl = "10"
int(zahl)
type(zahl)

str

In [30]:
zahl = "10"
print(int(zahl))
type(zahl)

10

str

In [32]:
Ganzzahl = int(zahl)

## Funktionen und Methoden

In [33]:
len(name)

7

In [34]:
name.upper()

'HAWKING'

In [35]:
name.lower()

'hawking'

In [36]:
name = name.upper()
print (name)

HAWKING

In [38]:
name.replace("W","BLA")

'HABLAKING'

In [39]:
first_name = "Anna"

In [40]:
first_name.count("A")

1

In [41]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [42]:
#hier geht es um Listen
names = ["Darwin", "Hawking", "Curie"]

In [43]:
names[1]

'Hawking'

In [44]:
names[0]

'Darwin'

In [45]:
names[2]

'Curie'

In [46]:
len(names)

3

In [50]:
#letztes Element der Liste
names[-1]

'Curie'

In [51]:
names [0:2]

['Darwin', 'Hawking']

In [58]:
names[1:]

['Hawking', 'Curie']

In [52]:
names[:2]

['Darwin', 'Hawking']

In [53]:
slice_value = 2

In [55]:
names[slice_value]

'Curie'

In [56]:
names[:slice_value]

['Darwin', 'Hawking']

In [57]:
names[slice_value:]

['Curie']

In [62]:
# Dictionaries
authors_and_ages = {"Darwin": 73,
                    "Goethe": 83,
                    "Lovelace": 37}

In [61]:
authors_and_ages["Darwin"]

73

In [63]:
names.append("Kleist")

In [64]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [65]:
authors_and_ages["Rowling"] = 53

In [67]:
authors_and_ages

{'Darwin': 73, 'Goethe': 83, 'Lovelace': 37, 'Rowling': 53}

## for-Schleife

In [68]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [70]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

In [73]:
for name in names:
    print(name + " is a great name")
    print(ho)
print(he)

Darwin is a great name

NameError: name 'ho' is not defined

# Bedingte Anweisungen (Conditionals)

In [74]:
temp = 20
if temp > 15:
    print("it's warm")

it's warm

In [75]:
temp = 10
if temp > 15:
    print("it's warm")
else: 
    print("it's cold")

it's cold

In [76]:
temp = 30
if temp > 15:
    print("it's warm")
elif temp >= 25:
    print("it's hot")
else: 
    print("it's cold")

it's warm

In [77]:
temp = 30
if temp > 25:
    print("it's hot")
elif temp >= 15:
    print("it's warm")
else: 
    print("it's cold")

it's hot

# Basics sind fertig!